In [1]:
import numpy as np
from math import *
import math

In [2]:
s= 'Tony Stark'
print(s.replace("Tony Stark","Iron Man"))

Iron Man

In [3]:
print("Stark" in s)

True

In [4]:
range(5)

range(0, 5)

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [6]:
print(factorial(5))

120

In [7]:
def sum(a,b=4):
    print(a+b)
sum(1,2)
sum(4)

3
8

In [8]:
print(153//10)
print(153/10)

15
15.3

# armstrong number
- 153 =  1+125+27 = 153

In [9]:
n= int(input("enter a number"))
a= n
p=0
while a>0:
    s=a%10
    t=s*s*s
    p=p+t
    a=a//10
if p==n:
    print("Number is armstrong")
else:
    print("Number is not armstrong")

Number is not armstrong

# neon number
- 9 = 9*9 = 81= 8+1=9

In [10]:
n=int(input("Enter a number"))
a=n*n
f=0
while a>0:
    t=a%10
    f=f+t
    a=a//10
if f==n:
    print("Number is neon")
else:
    print("Number is not neon")

Number is not neon

# palindrome number

- 121 then reverse it & value should be same then no. is palindrome

In [11]:
n = int(input("Enter a number"))
a=n
r=0
while a>0:
    s=a%10
    r=(r*10)+s
    a=a//10
if r==n:
    print("palindrome")
else:
    print("not palindrome")

not palindrome

buzz number

In [17]:
n = int(input("Enter a number"))
if(n%10==7 and n//10==7):
    print("Number is buzz number")
else:
    print("Number is not buzz number")

Number is buzz number

FizzBuzz number

In [4]:
import json
n=int(input("Enter a number"))
l=[]
for i in range(1,n+1):
    if i%3 == 0 and i%5 == 0:
      l.append("FizzBuzz")
      
    elif i%3 == 0:
        l.append("Fizz")
  
    elif i%5 == 0:
        l.append("Buzz")
      
    else :
       
       l.append(str(i))

print(json.dumps(l))

["1", "2", "Fizz", "4", "Buzz"]

In [11]:
li = [1,2]
li.reverse()
print(li)

[2, 1]

In [14]:
li = [1,2,3,4,5]
a = li[::-1]
if a == li:
   print("true")
else : 
    print("False")

False

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end = ' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end = ' ')
    print('')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [22]:
r =1
for i in range(5,0,-1):
    for j in range(0,i):
        print(r, end = ' ')
    print('')

1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [20]:
w =1
for i in range(0,5):
    for j in range(0,i+1):
        print(w,end = ' ')
    print('')

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [33]:
#w= 1
for i in range(6,0,-1):
    for j in  range(1,i):
        print(j, end = ' ')
    print('')
for i in range(1,6):
    for j in range (1,i+1):
        print(j,end = ' ')
    print('')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
rows = 5
k = 1
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [3]:
n= 5
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [1]:
r= 6
c =1
for i in range(r):
    for j in range(1,i):
        if c % 2 == 0: 
            print('*',end = ' ')
        else:
            print(c,end =' ')
        c +=  1
    print('')

1
* 3
* 5 *
7 * 9 *

In [16]:
current_num = 1
rows = 4
stop = 2
for i in range(rows):
    for column in range(1, stop):
         if column % 2 == 0:
          print(current_num, end=' ')
         else : 
            print('*',end = '')
         current_num += 1 
    print("")
    stop += 1

*
*3
*5 *
*8 *10

In [15]:
current_num = 1
rows = 4
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10