In [ ]:
import numpy as np
import matplotlib.pyplot
import plotly.express as px
import pandas as pd

In [ ]:
pd.set_option('display.max_columns' , None)

In [ ]:
df = pd.read_csv('titanic.csv')
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
def age_roundoff(age):
    try:
        return int(age)
    except:
        return 0
df.age = df.age.apply(age_roundoff)
df

# Find first class passenger

In [ ]:
First_class =df['class']=='First'
df[First_class]

# Find second class passenger

In [ ]:
second_class=df['class']=='Second'
df[second_class]

# Find Third class passenger

In [ ]:
third_class=df['class']=='Third'
df[third_class]

# print males passenger

In [ ]:
Mens=df['sex']=='male'
df[Mens]

# print total no. of male candidate

In [ ]:
Mens.sum()

# print female passenger

In [ ]:
womens=df['sex']=='female'
df[womens]

# print total no. of female candidate

In [ ]:
womens.sum()

# print the data of passenger whose age is less than 20

In [ ]:
pass_age=df['age']<20
df[pass_age]

# print the data of passenger whose age is greater than 20

In [ ]:
pass_Age = df['age']>20
df[pass_Age]

# Print the data of passenger whose age is less that 20 and  belong to first class

In [ ]:
# here first_class is a variable in which first class passenger are stored and in pass_age data of passenger whose age is less than 20
df[First_class & pass_age] # by using and(&) operator we compare to variabe

# print the data of same town in a single town and perform aggregation function on it(like : sum,max,min,mean,std,count)

In [ ]:
df.groupby('embark_town').sum()

In [ ]:
df.groupby('class').sum()

In [ ]:
df.groupby('sex').sum()

In [ ]:
df.groupby('sex')['survived'].agg(['sum','count']).plot(title='survived',kind='bar',ylabel='no. of people')

In [ ]:
df.groupby('class')['survived'].agg(['sum','count']).plot(title='Survived People',kind='bar')

In [ ]:
df.groupby('embark_town').sum()

In [ ]:
df.groupby('embark_town')['survived'].agg(['sum','count','mean','std'])

In [ ]:
df.groupby('embark_town')['age'].mean()

In [ ]:
df.groupby('embark_town')['survived'].sum()

In [ ]:
df.style.background_gradient('Spectral')